{include file="public/header"/}
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>日志列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">                                             
                    <form name="admin_list_sea" class="form-search" method="post" action="{:url('operate_log')}">               
                        <div class="col-sm-3">
                            <div class="input-group">
                                 <select class="form-control m-b chosen-select" name="key" id='key'>
                                    <option value="0">选择管理员</option>
                                    {volist name="search_user" id="v"}
                                        <option value="{$key}" {if condition="$val eq $key"}selected{/if}>{$v}</option>
                                    {/volist}
                                </select>
                                <span class="input-group-btn"> 
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜索</button> 
                                </span>
                            </div>
                        </div>
                    </form>                         
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="long-tr">
                                <th width="5%">ID</th>
                                <th width="5%">用户ID</th>
                                <th width="5%">操作用户</th>
                                <th width="15%">描述</th>
                                <th width="8%">操作IP</th>
                                <th width="10%">地址</th>
                                <th width="6%">状态</th>
                                <th width="10%">操作时间</th>
                                <th width="8%">操作</th>
                            </tr>
                        </thead>
                        <script id="list-template" type="text/html">
                            {{# for(var i=0;i<d.length;i++){  }}
                                <tr class="long-td">
                                    <td>{{d[i].log_id}}</td>
                                    <td>{{d[i].admin_id}}</td>
                                    <td>{{d[i].admin_name}}</td> 
                                    <td>{{d[i].description}}</td>  
                                    <td>{{d[i].ip}}</td> 
                                    <td>{{d[i].ipaddr.country}}{{d[i].ipaddr.area}}</td> 
                                    <td>
                                        {{# if(d[i].status==1){ }}
                                            操作成功
                                        {{# }else{ }}
                                            <span style="color: red">操作失败<span>
                                        {{# } }}
                                    </td> 
                                    <td>{{d[i].add_time}}</td> 
                                    <td>
                                        <a href="javascript:;" onclick="del_log({{d[i].log_id}})" class="btn btn-danger btn-outline btn-xs">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                            {{# } }}
                        </script>
                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style="text-align:right;"></div>
                    <div style="text-align: right;">
                        共{$count}条数据，<span id="allpage"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>

{include file="public/footer" /}

<script type="text/javascript">

    //laypage分页
    Ajaxpage();
    function Ajaxpage(curr){
        var key=$('#key').val();
        $.getJSON('{:url("log/operate_log")}', {page: curr || 1,key:key}, function(data){
            $(".spiner-example").css('display','none'); //数据加载完关闭动画 
            if(data==''){
                $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
            }else{
                var tpl = document.getElementById('list-template').innerHTML;
                laytpl(tpl).render(data, function(html){
                    document.getElementById('list-content').innerHTML = html;
                });
                laypage({
                    cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                    pages:'{$allpage}',//总页数
                    skip: true,//是否开启跳页
                    skin: '#1AB5B7',//分页组件颜色
                    curr: curr || 1,
                    groups: 3,//连续显示分页数
                    jump: function(obj, first){
                        if(!first){
                            Ajaxpage(obj.curr)
                        }
                        $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                    }
                });
            }
        });
    }


    //删除日志
    function del_log(log_id){
        lunhui.confirm(log_id,'{:url('del_log')}');
    }

</script>
</body>
</html>